{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="vh-100 bg-dark">
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-8 col-lg-7 col-xl-6">
                <img
                    src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
                    class="img-fluid"
                    alt="Phone image"
                />
            </div>
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                <form  action="" method="post">
                    {% csrf_token %}
                    <!-- Email input -->
                     {% for field in form %}
                    <div data-mdb-input-init style="border: 1px solid white;" class="form-outline mb-4">
                        {{field}}
                        {% if field.errors %}
                        <div class="text-danger">
                            {{ field.errors }}
                        </div>
                    {% endif %}
                        <label class="text-light form-label" style="background-color: #332d2d; padding: 0 1px;" for="id_{{ field_name}}">
                            {{field.name}}
                        </label>
                    </div>
                    {% endfor %}

                    <!-- <div data-mdb-input-init style="border: 1px solid white;" class="form-outline mb-4">
                        <input
                            name="first_name"
                            type="text"
                            id="form1Example13"
                            class="text-light form-control form-control-lg"
                        />
                        <label class="text-light form-label" style="background-color: #332d2d; padding: 0 1px;" for="id_{{ field_name}}">
                            First name 
                        </label>
                    </div>

                    <div data-mdb-input-init style="border: 1px solid white;" class="form-outline mb-4">
                        <input
                            name="last_name"
                            type="text"
                            id="form1Example13"
                            class="text-light form-control form-control-lg"
                        />
                        <label class="text-light form-label" style="background-color: #332d2d; padding: 0 1px;" for="id_{{ field_name}}">
                            Last name
                        </label>
                    </div>

                    <div data-mdb-input-init style="border: 1px solid white;" class="form-outline mb-4">
                        <input
                            name="password1"
                            type="password"
                            id="form1Example13"
                            class="text-light form-control form-control-lg"
                        />
                        <label class="text-light form-label" style="background-color: #332d2d; padding: 0 1px;" for="id_{{ field_name}}">
                            Password_1
                        </label>
                    </div>
                    

                    <div data-mdb-input-init style="border: 1px solid white;" class="form-outline mb-4">
                        <input
                            name="password2"
                            type="password"
                            id="form1Example13"
                            class="text-light form-control form-control-lg"
                        />
                        <label class="text-light form-label" style="background-color: #332d2d; padding: 0 1px;" for="id_{{ field_name}}">
                            Password_2
                        </label>
                    </div> -->

                    <!-- Submit button -->
                    <button
                        type="submit"
                        data-mdb-button-init
                        data-mdb-ripple-init
                        class="btn btn-primary btn-lg btn-block"
                    >
                        Sign up
                    </button>

                    <div
                        class="divider d-flex align-items-center my-4 d-flex justify-content-center"
                    >
                        <p class="text-light text-center fw-bold mx-3 mb-0">OR</p>
                    </div>

                    <a
                        data-mdb-ripple-init
                        class="btn btn-primary btn-lg btn-block"
                        style="background-color: #3b5998"
                        href="#!"
                        role="button"
                    >
                        <i class="fab fa-facebook-f me-2"></i>Continue with Facebook
                    </a>
                    <a
                        data-mdb-ripple-init
                        class="btn btn-primary btn-lg btn-block"
                        style="background-color: #55acee"
                        href="#!"
                        role="button"
                    >
                        <i class="fab fa-twitter me-2"></i>Continue with Twitter</a
                    >
                </form>
                <div class="d-flex justify-content-center mt-3">
                    <p class="m-0 text-light">
                        Already have an account ?
                        <a href="{% url 'login'%}">Sign in</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}